@import url("../../../static/css/variables.less");

/* Profile Page */
.b-page {
  .b-profile-page-wrapper {
    display: flex;
    align-items: stretch;
    min-height: 100vh;
    background: @shadow-color;
    outline-color: @plaintext-color;
    flex-grow: 1;

    .b-profile-page {
      display: flex;
      flex-grow: 1;

      .b-profile-goback-wrapper {
        display: flex;
        border-right: 1px solid @link-color;

        .b-profile-goback {
          align-self: center;
          padding: 0 15px;
        }
      }

      .b-profile-wrapper {
        display: flex;
        flex-grow: 1;
        justify-content: center;
        padding: 30px 0 50px;

        .b-profile {
          width: 600px;
          text-align: center;
          

          .b-profile-form {
            min-width: 600px;

            .b-form-error {
              text-align: left;
              display: none;
              padding-top: 2px;
      
              .b-form-error-text {
                color: @highlight-color;
              }
      
              &.state__error {
                display: block;
              }
            }
          }

          & > form {
            background-color: inherit;

            div.state__invalid {
              & > p {
                display: block;
              }
            }
          }

          & > form.state__invalid {
            display: inherit;

            & > div.state__invalid {
              border-color: @highlight-color;

              & > p {
                display: block;
              }
            }
          }

          .b-profile-name-wrapper {
            margin-bottom: 60px;

            .b-profile-name {
              color: #6f6;
              font-size: 2em;
            }
          }

          .b-profile-contol-wrapper {
            text-align: left;
            padding: 8px 0 1px;

            &.first {
              margin-top: 50px;
            }

            .b-profile-control {
              display: inherit;

              .b-submit {
                border-color: @link-color;
                outline-color: @link-color;
                color: @plaintext-color;
                background: @shadow-color;
                font-size: 1.1em;
                padding: 5px;

                &:hover {
                  outline: none;
                }
              }
            }
          }

          .b-profile-field {
            color: @plaintext-color;
            border-bottom: 1px solid @plaintext-color;
            padding: 20px 0 2px;
            margin-top: 5px;
            display: flex;
            flex-direction: row;
            position: relative;

            & > .state__invalid {
              border-color: @highlight-color;
            }

            & > label {
              padding: 0;
              font-size: 1em;
            }

            & > input {
              color: @plaintext-color;
              font-size: 1em;
              background: none;
              border: none;
              text-align: right;
              outline: none;
              padding: 0;
              margin-left: auto;
            }

            & > input:disabled {
              color: @plaintext-color;
              font-size: 1em;
              background: none;
              border: none;
              text-align: right;
              outline: none;
              padding: 0;
            }

            & > p {
              display: none;
              position: absolute;
              right: 0;
              top: 35px;
              font-size: 1em;
              color: @highlight-color;
            }
          }
        }
      }
    }
  }

  .b-avatar-wrapper {
    margin-right: 10px;

    .b-image {
      display: block;
      width: 47px;
      height: 47px;
      border-radius: 50%;

      &.state__empty {
        background-color: inherit;
      }
    }
  }

  .b-profile-title {
    font-size: 1.3em;
    color: @link-color;
    padding-bottom: 6px;
  }

  .b-link {
    color: @link-color;

    &:hover {
      color: @highlight-color;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

/* profile page modal window */
.b-modal-window-content {
  width: 600px;
  text-align: center;
  background: #4c4c4c;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  display: flex;
  position: relative;
  left: 32px;

  .b-modal-window-title {
    text-align: center;
    font-size: 2em;
    color: @link-color;
    padding: 30px 0;
  }

  .b-link {
    display: block;
    margin: 0 0 20px;
    color: @link-color;
  }

  .b-input {
    display: none;
  }

  .b-submit {
    margin: 0 0 30px;
    border-color: @link-color;
    outline-color: @link-color;
    color: @plaintext-color;
    background: @shadow-color;
    font-size: 1.1em;
    padding: 5px;
  }
}
