.b-profile-navigation-wrapper {
    display: flex;

    .b-profile-navigation {
        display: flex;
        flex-grow: 1;
        margin: 5px 0;

        .b-profile {
            margin-left: auto;
        }

        .b-logout {}
    }
}
